thêm 
CREATE TABLE cart_items (
    id INT IDENTITY(1,1) PRIMARY KEY,
    wallet_address NVARCHAR(100) NOT NULL,
    cake_id INT NOT NULL,
    quantity INT NOT NULL DEFAULT 1,
    size NVARCHAR(50) NULL,
    created_at DATETIME DEFAULT GETDATE(),
    updated_at DATETIME DEFAULT GETDATE()
);
select * from cakes
select * from cart_items
ALTER TABLE cart_items
ADD CONSTRAINT UQ_cart_wallet_cake_size
UNIQUE (wallet_address, cake_id, size)

========================
USE [master]
GO
/****** Object:  Database [DApp_CakeShop]    Script Date: 4/18/2026 8:22:41 PM ******/
CREATE DATABASE [DApp_CakeShop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DApp_CakeShop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DApp_CakeShop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DApp_CakeShop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DApp_CakeShop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DApp_CakeShop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DApp_CakeShop]
GO
/****** Object:  Table [dbo].[cakes]    Script Date: 4/18/2026 8:22:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cakes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
	[description] [nvarchar](max) NULL,
	[price] [decimal](10, 2) NULL,
	[image_url] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[category] [nvarchar](50) NULL,
	[blockchain_id] [int] NULL,
	[blockchain_price] [decimal](18, 4) NULL,
	[quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_items]    Script Date: 4/18/2026 8:22:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_items](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[cake_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 4/18/2026 8:22:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[total_price] [decimal](10, 2) NOT NULL,
	[status] [nvarchar](50) NULL,
	[transaction_hash] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
	[shipping_name] [nvarchar](100) NULL,
	[shipping_phone] [varchar](20) NULL,
	[shipping_address] [nvarchar](255) NULL,
	[note] [nvarchar](500) NULL,
	[payment_status] [nvarchar](50) NULL,
	[shipping_status] [nvarchar](50) NULL,
	[delivered_at] [datetime] NULL,
	[cancelled_at] [datetime] NULL,
	[cancel_reason] [nvarchar](255) NULL,
	[handled_by] [int] NULL,
	[confirmed_at] [datetime] NULL,
	[shipping_at] [datetime] NULL,
	[blockchain_order_index] [int] NULL,
	[tx_hash] [nvarchar](100) NULL,
	[contract_address] [nvarchar](42) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 4/18/2026 8:22:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[wallet_address] [nvarchar](255) NOT NULL,
	[name] [nvarchar](255) NULL,
	[phone] [nvarchar](20) NULL,
	[address] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[role] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[cakes] ON 

INSERT [dbo].[cakes] ([id], [name], [description], [price], [image_url], [created_at], [category], [blockchain_id], [blockchain_price], [quantity]) VALUES (1, N'Bánh Fruit 17', N'Bánh trái cây mẫu 17', CAST(1.05 AS Decimal(10, 2)), N'/images/17fruit.png', CAST(N'2026-04-06T19:08:55.383' AS DateTime), N'fruit', 1, CAST(1.0500 AS Decimal(18, 4)), 0)
INSERT [dbo].[cakes] ([id], [name], [description], [price], [image_url], [created_at], [category], [blockchain_id], [blockchain_price], [quantity]) VALUES (2, N'Bánh Fruit 18', N'Bánh trái cây mẫu 18', CAST(0.87 AS Decimal(10, 2)), N'/images/18fruit.png', CAST(N'2026-04-06T19:08:55.383' AS DateTime), N'fruit', 2, CAST(0.8700 AS Decimal(18, 4)), 13)
INSERT [dbo].[cakes] ([id], [name], [description], [price], [image_url], [created_at], [category], [blockchain_id], [blockchain_price], [quantity]) VALUES (3, N'Bánh Fruit 19', N'Bánh trái cây mẫu 19', CAST(2.34 AS Decimal(10, 2)), N'/images/19fruit.png', CAST(N'2026-04-06T19:08:55.383' AS DateTime), N'fruit', 3, CAST(2.3400 AS Decimal(18, 4)), 23)
SET IDENTITY_INSERT [dbo].[cakes] OFF
GO
SET IDENTITY_INSERT [dbo].[order_items] ON 

INSERT [dbo].[order_items] ([id], [order_id], [cake_id], [quantity], [price]) VALUES (1, 1, 53, 1, CAST(0.59 AS Decimal(10, 2)))
INSERT [dbo].[order_items] ([id], [order_id], [cake_id], [quantity], [price]) VALUES (2, 2, 52, 1, CAST(0.83 AS Decimal(10, 2)))
INSERT [dbo].[order_items] ([id], [order_id], [cake_id], [quantity], [price]) VALUES (3, 3, 52, 1, CAST(0.83 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[order_items] OFF
GO
SET IDENTITY_INSERT [dbo].[orders] ON 

SET IDENTITY_INSERT [dbo].[orders] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [wallet_address], [name], [phone], [address], [created_at], [role]) VALUES (1, N'0x416a018f842b9ee330bd655f7b41a203806d9a19', N'User mới', NULL, NULL, CAST(N'2026-03-24T17:44:09.723' AS DateTime), N'customer')
INSERT [dbo].[users] ([id], [wallet_address], [name], [phone], [address], [created_at], [role]) VALUES (2, N'0xcfde3b2f02ebcb2bf9191bab461a7235b0c64f40', N'User mới', NULL, NULL, CAST(N'2026-04-07T00:11:10.240' AS DateTime), N'customer')
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__48767F48F7EDBEBA]    Script Date: 4/18/2026 8:22:41 PM ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[wallet_address] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[cakes] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[cakes] ADD  DEFAULT ((0)) FOR [quantity]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (N'pending') FOR [status]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_users_role]  DEFAULT ('customer') FOR [role]
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD FOREIGN KEY([cake_id])
REFERENCES [dbo].[cakes] ([id])
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK_orders_handled_by_users] FOREIGN KEY([handled_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK_orders_handled_by_users]
GO
USE [master]
GO
