# Database Connection
DB_USER=sa
DB_PASSWORD=123456
DB_SERVER=localhost
DB_DATABASE=DApp_CakeShop

# Smart Contract Owner Private Key (để sync cakes lên blockchain)
# ⚠️ KHÔNG chia sẻ private key này!
# Lấy từ metamask: Settings > Security & Privacy > Show Private Key
OWNER_PRIVATE_KEY=8c170b7178540bd5a946f5219ac9435d7cc3d03a6229cf4492449b317d96e4ba

# RPC Server
RPC_URL=https://testnet.sapphire.oasis.dev

# Smart contract address (backend sync phai trung voi frontend VITE_CONTRACT_ADDRESS)
CONTRACT_ADDRESS=0xDBb3bBE429De1fcF10A8f872D1135Ea6f3baA412
